body{
    font-family:"Andale Mono, monospace" ;
    margin:0;
}
header, section, nav, footer {
    margin: 0;
    padding: 15px;
    color:white
}

h3{
    font-size:1.5rem;
}

h4{
    font-size:1.2rem;
}

main {
    margin:0 auto;
    width:80%;
    background: darkgray;
}

header {
    background: gray;
}

section {
    background: darkgray;
    padding: 20px;
}

footer {
    background: gray;
}

nav {
    min-width: 250px;
    padding: 20px;
    background-color:gray ;
    color: white;
    
}

nav ul{
    padding: 0;
    list-style-type: none;
}

nav ul li a:active{
    color:black;
}

nav ul li a:hover{
    color:black;
}

a{
    color:white;
    text-decoration: none;
}

.flex{
    display:flex;
}

.flex section {
    color:black;
    background-color:white;
    flex: 1;
}

section h3{
    padding: 20px;
}

section #art .artykul{
    padding:20px;
}

section #art .artykul:nth-child(odd){
    background:lightgray;
}

.title{
    flex:1;
}

.logo{
    flex: 0 1 200px;
}

footer article{
    flex:50%;
}

